# ASSIGNMENT NO 6

__Qusetion no: 1__

Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [34]:
user_id = input("Enter your user_id: ")
x=user_id.find('@')
y =user_id.find('.')
print("The company name is: ",user_id[x+1:y])

Enter your user_id: rohit@google.com
The company name is:  google

__Question no: 2__

Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [32]:
var = input("Enter comma seperated strings: ")

var = var.split(',')
var.sort()

print("String after sorting: ",var)

Enter comma seperated strings: without,hello,bag,world
String after sorting:  ['bag', 'hello', 'without', 'world']

__Question no: 3__

Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

In [60]:
s1 = {'suresh','ramesh','mukesh'}
s2  = {1,2,3}

print(len(s1)) #3

s1.add('ravi')#{'ramesh', 'mukesh', 'ravi', 'suresh'}
print(s1)

s1.update(s2)#{1, 2, 3, 'ravi', 'ramesh', 'mukesh', 'suresh'}
print(s1)

s1.pop()
print(s1)

del(s1)
#print(s1)#name 's1' is not defined

s3= {"a","b","c"}
s4 = {1,2,3}

s5 = s3.union(s4)
print(s5)

s5.remove('c')
print(s5)

s5.discard(3)
print(s5)

clear(s5)
print(s5)

3
{'ramesh', 'mukesh', 'ravi', 'suresh'}
{1, 2, 3, 'ravi', 'ramesh', 'mukesh', 'suresh'}
{2, 3, 'ravi', 'ramesh', 'mukesh', 'suresh'}
{1, 2, 'c', 3, 'b', 'a'}
{1, 2, 3, 'b', 'a'}
{1, 2, 'b', 'a'}

__Question no: 4__

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [38]:
li = [1,2,3,4,5,6,8,9,10]
print("The given list is: ",li)
n = len(li)
total = (n+1)*(n+2)/2
s = sum(li)
print("The missing number is: ",int(total- s))

The given list is:  [1, 2, 3, 4, 5, 6, 8, 9, 10]
The missing number is:  7

__Question no: 5__

With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [39]:
li = []
main = []
print('Enter numbers: ')
for i in range(1,11):
    n = input()
    li.append(n)
print(li)

for i in li:
    if i not in main:
        main.append(i)
print(main)

Enter numbers:
10
20
10
20
30
50
90
80
50
60
['10', '20', '10', '20', '30', '50', '90', '80', '50', '60']
['10', '20', '30', '50', '90', '80', '60']