# DAY 3 ASSIGNMENT

__Question no 1.__

In [6]:

a = 7 +4j
b = 4+2j
c = a-b

print("Complex subtraction of two complex no is: ",c)

Complex subtraction of two complex no is:  (3+2j)

__Question no 2.__

In [18]:
n1 =float(input("Enter a number: "))
ans = n1**0.25

print("Fourth root of the given number is: ",ans)

Enter a number: 625.1
Fourth root of the given number is:  5.00019998800112

__Question no 3.__

In [19]:
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))

temp = n2
n2 = n1
n1 = temp

print("Applying swapping operation.....")
print("First number: ",n1)
print("Second number: ",n2)

Enter first number: 11
Enter second number: 22.05
Applying swapping operation.....
First number:  22.05
Second number:  11.0

__Question no 4.__

In [20]:
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))

n1,n2 = n2,n1

print("Applying swapping operation.....")
print("First number: ",n1)
print("Second number: ",n2)

Enter first number: 11.22
Enter second number: 22.44
Applying swapping operation.....
First number:  22.44
Second number:  11.22

In [24]:
ftemp =  float(input("Enter temperature in Fahrenheit: "))

ctemp  = (ftemp-32)*5/9
print("Temperature in celcius is: ",ctemp)

ktemp =(ftemp-32)*5/9+273.15
print("Temperature in kelvin is : ",ktemp)

Enter temperature in Fahrenheit: 32
Temperature in celcius is:  0.0
Temperature in kelvin is :  273.15

In [27]:
a = "Rohit"
print("Data type is: ",type(a))
b=77
print("Data type is: ",type(b))
c = 7.0125
print("Data type is: ",type(c))
d = 2+3j
print("Data type is: ",type(d))
e= True
print("Data type is: ",type(e))
f = ('1','d','Rohit')
print("Data type is: ",type(f))
g = ['1','d','Rohit']
print("Data type is: ",type(g))
h = {'1':'Rohit','2':'XYZ'}
print("Data type is: ",type(h))

Data type is:  <class 'str'>
Data type is:  <class 'int'>
Data type is:  <class 'float'>
Data type is:  <class 'complex'>
Data type is:  <class 'bool'>
Data type is:  <class 'tuple'>
Data type is:  <class 'list'>
Data type is:  <class 'dict'>